.avatar{
	height: 30px;
	width: 30px;
}
.jsonTable{

}
#newEntry{
	border-radius: 2px;
	background-color: lightblue;
	font-weight: bold;
	margin-left: 40%;
}
thead{
	font-weight: bold;
	background-color: lightblue;
}
h2{
	text-align: center;
}
div{
	background-color: skyblue;
}
td{
	border:1px solid;
}
table{
	margin-top: 2%;
	margin-left: 40%;
}
span{
	font-weight: bold;
	margin-left: 40%;
}
tbody tr:nth-child(odd){
	background-color: lightgray;
}
